.description{
    display: flex;
    flex-direction: wrap;
    
    margin-top: -20px;
    margin-right: 100px;
   
    
    
    img{
        padding-right: 200px !important;
        padding-left: 40px !important;
       
    }
    
@media screen and (max-width: 1320px) {
 
    img {
      height: 40vh !important;
      padding-top: 20px !important;
      padding-right: 150px !important ;
    }
  }
  
  @media screen and (max-width: 1200px) {
   
    img {
      
      padding-right: 50px !important;
    }
  }
  @media screen and (max-width: 1000px) {
   
    img {
      height: 30vh !important;
      padding-right: 0px !important;
     
    }
  }

  @media screen and (max-width: 900px) {
    margin-right: 0px;

    img {
        display: none !important;
       
      }
  }
  @media screen and (max-width: 700px) {
    margin-right: 0px;
  }

 
     
   
   
      

}




