.eco-image {
  grid-area: image;
  background: url("../../../assets/phoenixclothing.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#eco{
  background: orangered;
}
