.face-image {
    height: 100%;
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .carousel.carousel-slider{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #face{
    background: rgb(255, 38, 129);
  }