.Ecommerce{
    border: solid 1px whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    width:100%;

    img{
        padding: 0;
        height: 60vh;
        width: 35vw;
    }
    div{
        padding-top: 55px;
        background: aliceblue;
      
    }
    p{
        margin-left: 20px;
        margin-right: 20px;
    }
    
   h2{
       display: flex;
       justify-content: left;
       margin-bottom: 0px;
       margin-left: 20px;
   }
   h3{
        display: flex;
        justify-content: left;
       padding-top: 0px;
       margin-top: 20px;
       margin-bottom: 0px;
       margin-left: 20px;
   }
   svg{
    padding-left: 500px;
    padding-top: 225px;
    cursor: pointer;
   }

.stack{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.stack-item {
    border: solid 2px aliceblue;
    //margin-left: 10px !important;
    width:fit-content;
}
}




.Ecommerce:hover{
    cursor: pointer;
      transform: scale(1.04);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      box-shadow: 1px 1px 2px 2px whitesmoke;
  }

