.Portfolio{
    border-top: solid 1px;
    padding-bottom: 20px;


    .options{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 25px;
    }

    .option{
        cursor: pointer;
        color:grey ;
    }

    .default{
        color:grey ;
    }

    .stayOrange{
        color: rgb(243, 210, 20);
    }
    .stayBlue{
        color: rgb(2, 27, 167);
    }
    .stayGreen{
        color:  rgb(2, 167, 30);
    }

    .orange:hover{
        color: rgb(243, 210, 20);
    }
    .blue:hover{
        color: rgb(2, 27, 167);
    }
    .green:hover{
        color:  rgb(2, 167, 30);
    }

    .title{
        margin-bottom: 0px;
    }

    @media screen and (max-width: 412px) {
       font-size: 14px;
      }
}