
   .size{
       display: flex;
       justify-content: center;  
       padding-top: 10px;
   } 

   .font{
    height:350px; 
    width: 700px;
   }

   
  @media screen and (max-width: 850px){
      .font{
          width: 60vw;
      }
  }

  @media screen and (max-width: 414px){
    .font{
        display: none;
    }
  }