.splash {
  background: url(../../assets/background.jpg) no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed; //Breaks on ios
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  display: grid;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: -70px;
}

.splash-container {
  display: block;
  width: 45rem;
  height: 35rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.portfolio-image {
  height: 28vh;
  padding-top: 25px;
}

.splash-container:before {
  content: "";

  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 1000px rgb(255, 250, 250);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  margin: 0px;
}

.position-image {
  display: flex;
  justify-content: center;
}

.info {
  text-align: center;
}

.H1 {
  margin-bottom: 0px;
}

.H4 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.position-git {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.dimensions {
  height: 5vh;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .splash{
    background-attachment: unset; //Remove as breaks on ios devices
  }
  .splash-container {
    width: 35rem;
    height: 35rem;
  }
}

@media screen and (max-width: 600px) {
  .splash-container {
    width: 30rem;
    height: 35rem;
  }
  .portfolio-image {
    height: 23vh;
  }
}
@media screen and (max-width: 520px) {
  .splash-container {
    width: 25rem;
    height: 28rem;
  }
  .portfolio-image {
    height: 20vh;
  }
  .H1 {
    font-size: 28px;
  }
  .H4 {
    font-size: 14px;
  }
  .P {
    font-size: 14px;
  }
}
@media screen and (max-width: 411px) {
  .splash-container {
    width: 23rem;
  }
}

@media screen and (max-width: 400px) {
  .splash {
    margin-top: -30px;
  }

  .splash-container {
    width: 19rem;
    height: 24rem;
  }
  .portfolio-image {
    height: 20vh;
  }
  .H1 {
    font-size: 24px;
  }
  .H4 {
    font-size: 12px;
  }
  .P {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .splash-container {
    height: 22rem;
  }
}

@media screen and (max-width: 320px) {
  .splash-container {
    width: 18rem;
    height: 20rem;
  }

  .H1 {
    font-size: 20px;
  }
  .H4 {
    font-size: 10px;
  }
  .P {
    font-size: 10px;
  }
}
