.AdditionalSkills{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    .list1{
        padding-left:205px;
    }
    @media screen and (max-width: 1024px) {
        .list1{
            padding-left:150px;
        }
        ul{
            margin-left: 0px;
        }
    }
    @media screen and (max-width: 941px) {
        .list1{
            padding-left:0px;
        }
    }

    @media screen and (max-width: 767px) {
        .list1{
            padding-left:0x;
        }
    }
    @media screen and (max-width: 692px) {
        justify-content: flex-start;
        .list1{
            padding-bottom: 0px;
        }
        .list2{
            margin-top: -30px;
        }
    }
}

