.Resume{
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: solid 1px;
  
}

.vertical-timeline::before{
    background: black !important;
}

.Title{
    display: flex;
    justify-content: center;
    color:grey ;
}

@media screen and (max-width: 768px) {
    .Title{
        justify-content: flex-start;
    }
}