.particle-image {
  height: 450px;
  width: 550px;
}
svg {
  height: 5vh;
  cursor: pointer;
}

.part-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  background: aliceblue;
  border-top: solid 1px grey;
  text-align: left;
  height: auto;
}
.particle-stack {
  padding-top: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-git {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .particle-image {
    height: 350px;
    width: 450px;
  }
}
@media screen and (max-width: 411px) {
  .particle-image {
    height: 230px;
    width: 320px;
  }
}
