.Contact {
  display: flex;
  padding-top: 10px;
  background-color: #dbffe1;

  .text {
    padding-left: 30px;
  }
}

.wrapper {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto 0;
}

.image {
  height: 30vh;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .Contact {
    justify-content: center;
  }
  .image {
    display: none !important;
  }
  .text {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }

}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 467px) {
  .Contact {
    
    padding-top: 30px;
  }
}
