
.Guitar {
  border: solid 1px whitesmoke;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  
  cursor: default !important;
  .guitarImage  {
    padding: 0;
    height: 60vh;
    width: 30vw;
  }

.pad{
  padding-top: 0px !important;
}

  .container {
    padding-top: 55px;
  
  }
  div{
    background: rgb(215, 255, 215);
  }
  p {
    margin-left: 20px;
    margin-right: 20px;
  }

  h2 {
    display: flex;
    justify-content: left;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  h3 {
    display: flex;
    justify-content: left;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
 

  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .stack3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-bottom: 200px;
  }
  .stack-item3 {
    width: fit-content;
    margin-bottom: 5px;
  
  }
  @media screen and (max-width: 1800px){
    .stack3 {
            padding-bottom: 170px;
    }
  }
  

 
  
  @media screen and (max-width: 1600px){
    .stack3 {
            padding-bottom: 130px;
    }
  }
  @media screen and (max-width: 1500px){
    .stack3 {
            padding-bottom: 120px;
    }
  }

  @media screen and (max-width: 1400px) {
    .guitarImage {
      height: 30vh;
      width: 30vw;
    }
    .container{
      padding-top: 0px;
    }
    svg {
      padding-top: 0px;
    }
    p {
      margin-right: 10px;
    }
    .stack3 {
      padding-bottom: 90px;
}
  }
  @media screen and (max-width: 1200px){
    .stack3 {
      padding-bottom: 80px;
}
  @media screen and (max-width: 1160px) {
    p {
      margin-right: 10px;
    }
    .stack3 {
      padding-bottom: 70px;
}
.stack-item3 {
    margin-top: 5px;
}
  }

  @media screen and (max-width: 1065px) {
    .stack3 {
      padding-bottom: 40px;
}
  }
  @media screen and (max-width: 1005px) {
    .stack3 {
      padding-bottom: 20px;
}
  }
 
  }
  @media screen and (max-width: 1028px) {
    img {
      padding: 0;
      height: 30vh;
      width: 30vw;
    }

    h2 {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 22px;
    }
    p {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 14px;
    }
    
    
    h3 {
      margin-left: 10px;
      margin-top: 0;
      
    }
  }
  @media screen and (max-width: 600px) {
    .guitarImage {
      display: none !important;
    }
}
 
}



@media screen and (max-width: 600px) {
    .guitarImage {
      display: none !important;
    }
}