.nav {
  position: fixed;
  width: 100%;
  background: url(../../assets/background.jpg) no-repeat;
  background-attachment: fixed; 
	background-size: cover;
  z-index: 500;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;

  .list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
  }
  @media screen and (max-width: 1024px) {
 
    .list {
      justify-content: space-around;  
  }
  }
  
  .navbar-item {
    padding: 10px;
    cursor: pointer;
  }


  .navbar-item:hover {
    color: rgb(255, 196, 0);
  }

  

  .stayOrange {
    color: orange;
  }

  @media screen and (max-width: 450px) {
    font-size: 12.8px;

    .list {
      justify-content: center;
    }

    ul{
      padding-inline-start: 0px;
    }
  }
  @media screen and (max-width: 320px){
    .navbar-item {
      padding: 5px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

