  .nav {
    position: fixed; 
    width: 100%;  
    background-color: whitesmoke;
    
  .list{
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      justify-content: space-evenly;
  
  }
      .navbar-item{
          padding: 15px;
          cursor: pointer;
         
      }
  }
  
  .sticky{
      position: fixed;
      top: 0;
      width: 100%;
  }

