.thesis-image {
  height: 450px;
  width: 550px;
}

.thesis-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: solid 1px grey;
  text-align: left;
  padding-bottom: 15px;
}
.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stack-item {
  display: flex;
  justify-content: center !important;
}

.thesis-button {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .thesis-image {
    height: 350px;
    width: 450px;
  }
}
@media screen and (max-width: 411px) {
  .thesis-image {
    height: 250px;
    width: 350px;
  }
}

