.footer {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  // justify-content: flex-end;
  z-index: 500;
  position: relative;
  //padding: 5px;
}

.margin{
    margin-bottom: 0px;
    margin-top: 5px;
}

.Particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-text {
  text-align: center;
  padding: 10px;
}
