.Resume{
    padding-top: 75px;
    padding-bottom: 40px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 0;
}

.Title{
    display: flex;
    justify-content: center;
    color:grey ;
}

.description{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 768px) {
    .Title{
        justify-content: flex-start;
    }
}