.HomePage{
    background: url(../../assets/bg.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;


@media screen and (max-width: 520px) {
    background: url(../../assets/bg-mobile.jpg);
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
  }
}