.custom-button{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 200px;    
}

.button{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: rgb(240, 144, 0);
  }


